In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import sklearn.datasets as sk

In [2]:
pd.__version__

'1.0.3'

In [3]:
np.__version__

'1.18.1'

In [4]:
sm.__version__

'0.11.0'

### Data sets from statsmodels

In [5]:
Auto = sm.datasets.get_rdataset('Auto', 'ISLR')

In [6]:
auto = Auto.data

In [7]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 1 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 30.6+ KB

In [8]:
Wage = sm.datasets.get_rdataset('Wage', 'ISLR')

In [9]:
wage = Wage.data

In [10]:
wage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 231655 to 453557
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   int64
 1   age         3000 non-null   int64
 2   maritl      3000 non-null   object
 3   race        3000 non-null   object
 4   education   3000 non-null   object
 5   region      3000 non-null   object
 6   jobclass    3000 non-null   object
 7   health      3000 non-null   object
 8   health_ins  3000 non-null   object
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 281.2+ KB

In [11]:
Weekly = sm.datasets.get_rdataset('Weekly', 'ISLR')

In [12]:
weekly = Weekly.data

In [13]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       1089 non-null   int64
 1   Lag1       1089 non-null   float64
 2   Lag2       1089 non-null   float64
 3   Lag3       1089 non-null   float64
 4   Lag4       1089 non-null   float64
 5   Lag5       1089 non-null   float64
 6   Volume     1089 non-null   float64
 7   Today      1089 non-null   float64
 8   Direction  1089 non-null   object
dtypes: float64(7), int64(1), object(1)
memory usage: 76.7+ KB

In [14]:
DataSetsOrg = ['Auto', 'Boston', 'Caravan', 'Carseats', 'College', 
            'Default', 'Hitters', 'Khan', 'NCI60', 'OJ', 'Portfolio', 
            'Smarket', 'USArrests', 'Wage', 'Weekly']

In [15]:
datasets = ['Auto', 'Caravan', 'Carseats', 'College', 
            'Default', 'Hitters', 'NCI60', 'OJ', 'Portfolio', 
            'Smarket', 'Wage', 'Weekly']

In [16]:
for dataset in datasets:
    DataClass = sm.datasets.get_rdataset(dataset, 'ISLR')
    print(f"Dataset name : {dataset}")
    print(DataClass.data.info())

Dataset name : Auto
<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 1 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 30.6+ KB
None
Dataset name : Caravan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5822 entries, 0 to 5821
Data columns (total 86 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOSTYPE   5822 non-null   int64
 1   MAANTHUI  5822 non-null   int64
 2   MGEMOMV   5822 non-null   int64
 3   MGEMLEEF  5822 non-null   int64
 4   MOSHOOFD  5822 non-null   int64
 5   MGODRK    5822 non-null   int64
 6   MGODPR    5822 non-null   int64
 7   MGODOV    5822 non-null   int64
 8   MGODGE    5822 non-null   int64
 9   MRELGE    5822 non-null   int64
 10  MRELSA    5822 non-null   int64
 11  MRELOV    5822 non-null   int64
 12  MFALLEEN  5822 non-null   int64
 13  MFGEKIND  5822 non-null   int64
 14  MFWEKIND  5822 non-null   int64
 15  MOPLHOOG  5822 non-null   int64
 16  MOPLMIDD  5822 non-null   int64
 17  MOPLLAAG  5822 non-null   int64
 18  MBERHOOG  5822 non-null   int64
 19  MBERZELF  5822 non-null   int64
 20  MBERBOER  5822 non-null   int64
 21  MBERMIDD  5822 non-null   int64
 22  MBERARBG  5822 non-null   int64
 23  MBERARBO  5822 non-null   int64
 24  MSKA      5822 non-null   int64
 25  MSKB1     5822 non-null   int64
 26  MSKB2     5822 non-null   int64
 27  MSKC      5822 non-null   int64
 28  MSKD      5822 non-null   int64
 29  MHHUUR    5822 non-null   int64
 30  MHKOOP    5822 non-null   int64
 31  MAUT1     5822 non-null   int64
 32  MAUT2     5822 non-null   int64
 33  MAUT0     5822 non-null   int64
 34  MZFONDS   5822 non-null   int64
 35  MZPART    5822 non-null   int64
 36  MINKM30   5822 non-null   int64
 37  MINK3045  5822 non-null   int64
 38  MINK4575  5822 non-null   int64
 39  MINK7512  5822 non-null   int64
 40  MINK123M  5822 non-null   int64
 41  MINKGEM   5822 non-null   int64
 42  MKOOPKLA  5822 non-null   int64
 43  PWAPART   5822 non-null   int64
 44  PWABEDR   5822 non-null   int64
 45  PWALAND   5822 non-null   int64
 46  PPERSAUT  5822 non-null   int64
 47  PBESAUT   5822 non-null   int64
 48  PMOTSCO   5822 non-null   int64
 49  PVRAAUT   5822 non-null   int64
 50  PAANHANG  5822 non-null   int64
 51  PTRACTOR  5822 non-null   int64
 52  PWERKT    5822 non-null   int64
 53  PBROM     5822 non-null   int64
 54  PLEVEN    5822 non-null   int64
 55  PPERSONG  5822 non-null   int64
 56  PGEZONG   5822 non-null   int64
 57  PWAOREG   5822 non-null   int64
 58  PBRAND    5822 non-null   int64
 59  PZEILPL   5822 non-null   int64
 60  PPLEZIER  5822 non-null   int64
 61  PFIETS    5822 non-null   int64
 62  PINBOED   5822 non-null   int64
 63  PBYSTAND  5822 non-null   int64
 64  AWAPART   5822 non-null   int64
 65  AWABEDR   5822 non-null   int64
 66  AWALAND   5822 non-null   int64
 67  APERSAUT  5822 non-null   int64
 68  ABESAUT   5822 non-null   int64
 69  AMOTSCO   5822 non-null   int64
 70  AVRAAUT   5822 non-null   int64
 71  AAANHANG  5822 non-null   int64
 72  ATRACTOR  5822 non-null   int64
 73  AWERKT    5822 non-null   int64
 74  ABROM     5822 non-null   int64
 75  ALEVEN    5822 non-null   int64
 76  APERSONG  5822 non-null   int64
 77  AGEZONG   5822 non-null   int64
 78  AWAOREG   5822 non-null   int64
 79  ABRAND    5822 non-null   int64
 80  AZEILPL   5822 non-null   int64
 81  APLEZIER  5822 non-null   int64
 82  AFIETS    5822 non-null   int64
 83  AINBOED   5822 non-null   int64
 84  ABYSTAND  5822 non-null   int64
 85  Purchase  5822 non-null   object
dtypes: int64(85), object(1)
memory usage: 3.8+ MB
None
Dataset name : Carseats
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB
None
Dataset name : College
<class 'pandas.core.frame.DataFrame'>
Index: 777 entries, Abilene Christian University to York College of Pennsylvania
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Private      777 non-null    object
 1   Apps         777 non-null    int64
 2   Accept       777 non-null    int64
 3   Enroll       777 non-null    int64
 4   Top10perc    777 non-null    int64
 5   Top25perc    777 non-null    int64
 6   F.Undergrad  777 non-null    int64
 7   P.Undergrad  777 non-null    int64
 8   Outstate     777 non-null    int64
 9   Room.Board   777 non-null    int64
 10  Books        777 non-null    int64
 11  Personal     777 non-null    int64
 12  PhD          777 non-null    int64
 13  Terminal     777 non-null    int64
 14  S.F.Ratio    777 non-null    float64
 15  perc.alumni  777 non-null    int64
 16  Expend       777 non-null    int64
 17  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(1)
memory usage: 115.3+ KB
None
Dataset name : Default
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  10000 non-null  object
 1   student  10000 non-null  object
 2   balance  10000 non-null  float64
 3   income   10000 non-null  float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB
None
Dataset name : Hitters
<class 'pandas.core.frame.DataFrame'>
Index: 322 entries, -Andy Allanson to -Willie Wilson
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    int64
 1   Hits       322 non-null    int64
 2   HmRun      322 non-null    int64
 3   Runs       322 non-null    int64
 4   RBI        322 non-null    int64
 5   Walks      322 non-null    int64
 6   Years      322 non-null    int64
 7   CAtBat     322 non-null    int64
 8   CHits      322 non-null    int64
 9   CHmRun     322 non-null    int64
 10  CRuns      322 non-null    int64
 11  CRBI       322 non-null    int64
 12  CWalks     322 non-null    int64
 13  League     322 non-null    object
 14  Division   322 non-null    object
 15  PutOuts    322 non-null    int64
 16  Assists    322 non-null    int64
 17  Errors     322 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  322 non-null    object
dtypes: float64(1), int64(16), object(3)
memory usage: 52.8+ KB
None
Dataset name : NCI60
<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, V1 to V64
Columns: 6831 entries, data.1 to labs
dtypes: float64(6830), object(1)
memory usage: 3.3+ MB
None
Dataset name : OJ
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Purchase        1070 non-null   object
 1   WeekofPurchase  1070 non-null   int64
 2   StoreID         1070 non-null   int64
 3   PriceCH         1070 non-null   float64
 4   PriceMM         1070 non-null   float64
 5   DiscCH          1070 non-null   float64
 6   DiscMM          1070 non-null   float64
 7   SpecialCH       1070 non-null   int64
 8   SpecialMM       1070 non-null   int64
 9   LoyalCH         1070 non-null   float64
 10  SalePriceMM     1070 non-null   float64
 11  SalePriceCH     1070 non-null   float64
 12  PriceDiff       1070 non-null   float64
 13  Store7          1070 non-null   object
 14  PctDiscMM       1070 non-null   float64
 15  PctDiscCH       1070 non-null   float64
 16  ListPriceDiff   1070 non-null   float64
 17  STORE           1070 non-null   int64
dtypes: float64(11), int64(5), object(2)
memory usage: 150.6+ KB
None

Dataset name : Portfolio
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       100 non-null    float64
 1   Y       100 non-null    float64
dtypes: float64(2)
memory usage: 1.7 KB
None
Dataset name : Smarket
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       1250 non-null   int64
 1   Lag1       1250 non-null   float64
 2   Lag2       1250 non-null   float64
 3   Lag3       1250 non-null   float64
 4   Lag4       1250 non-null   float64
 5   Lag5       1250 non-null   float64
 6   Volume     1250 non-null   float64
 7   Today      1250 non-null   float64
 8   Direction  1250 non-null   object
dtypes: float64(7), int64(1), object(1)
memory usage: 88.0+ KB
None
Dataset name : Wage
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 231655 to 453557
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   int64
 1   age         3000 non-null   int64
 2   maritl      3000 non-null   object
 3   race        3000 non-null   object
 4   education   3000 non-null   object
 5   region      3000 non-null   object
 6   jobclass    3000 non-null   object
 7   health      3000 non-null   object
 8   health_ins  3000 non-null   object
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 281.2+ KB
None
Dataset name : Weekly
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       1089 non-null   int64
 1   Lag1       1089 non-null   float64
 2   Lag2       1089 non-null   float64
 3   Lag3       1089 non-null   float64
 4   Lag4       1089 non-null   float64
 5   Lag5       1089 non-null   float64
 6   Volume     1089 non-null   float64
 7   Today      1089 non-null   float64
 8   Direction  1089 non-null   object
dtypes: float64(7), int64(1), object(1)
memory usage: 76.7+ KB
None

### Data sets from SKlearn

In [17]:
Boston = sk.load_boston()

In [18]:
Boston.data.shape

(506, 13)

In [19]:
Boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [20]:
print(Boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [21]:
iris = sk.load_iris

In [22]:
# todo source Khan and USArrests from SKLEARN